{"template":"{\"query\":{\"bool\":{\"filter\":{}}},\"aggs\":{\"agg_by_camera_id\":{\"filter\":{\"range\":{\"enter_time\":{\"format\":\"yyyy-MM-dd HH:mm:ss\",\"time_zone\":\"+08:00\"{{#camera_agg_start_time}},\"gte\":\"{{camera_agg_start_time}}\"{{/camera_agg_start_time}}{{#camera_agg_end_time}},\"lte\":\"{{camera_agg_end_time}}\"{{/camera_agg_end_time}}}}},\"aggs\":{\"agg_by_camera_buckets\":{\"terms\":{\"field\":\"camera_id\",\"order\":{\"_count\":\"desc\"},\"size\":{{top}}{{^top}}9999{{/top}}}}}},\"agg_by_lib_id\":{\"filter\":{\"range\":{\"enter_time\":{\"format\":\"yyyy-MM-dd HH:mm:ss\",\"time_zone\":\"+08:00\"{{#lib_agg_start_time}},\"gte\":\"{{lib_agg_start_time}}\"{{/lib_agg_start_time}}{{#lib_agg_end_time}},\"lte\":\"{{lib_agg_end_time}}\"{{/lib_agg_end_time}}}}},\"aggs\":{\"agg_by_lib_buckets\":{\"terms\":{\"field\":\"lib_id\",\"order\":{\"_count\":\"desc\"},\"size\":{{top}}{{^top}}9999{{/top}}}}}}},\"size\":1}"}