{"template":"{\"query\":{\"bool\":{\"filter\":{}{{#is_del}},\"filter\":{\"term\":{\"is_del\":\"{{is_del}}\"}}{{/is_del}}}},\"aggs\":{\"agg_by_type\":{\"terms\":{\"field\":\"personlib_type\"},\"aggs\":{\"lib_count\":{\"cardinality\":{\"field\":\"lib_id\"}},\"control_count\":{\"filter\":{\"term\":{\"flag\":\"{{flag}}{{^flag}}1{{/flag}}\"}}},\"daily_add\":{\"filters\":{\"filters\":{\"query\":{\"bool\":{\"filter\":{\"range\":{\"create_time\":{\"format\":\"yyyy-MM-dd HH:mm:ss\",\"time_zone\":\"+08:00\"{{#start_time}},\"gte\":\"{{start_time}}\"{{/start_time}}{{#end_time}},\"lte\":\"{{end_time}}\"{{/end_time}}}}}}}}}}}}},\"size\":0}"}